snippet testd
	test "${1}" do
		${2}
	end
snippet astp
	assert_template ${1}
snippet des
	describe "${1}" do
		${2}
	end
snippet setup
	setup do
		${1}
	end
snippet asrp
	assert_response :${1:success}
snippet astp
	assert_template :${1:template}
