snippet ase "Test Assert Equal To"
assert_equal ${1:exp}, ${2:act}
endsnippet

snippet asrp "Test Assert Response (are)"
assert_response :${1:success}
endsnippet

snippet ast
assert_template :${1:template}
endsnippet